node_modules/

**/js
**/css/main.css

public/*.html

/target
/checkouts
/src/gen
out/
repl-client-debug

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
.clj-kondo/
.cpcache/