{:deps true ;; Usa o deps.edn como fonte de verdade para bibliotecas

 :dev-http
 {3000 "resources/public"} ;; Porta do servidor e pasta onde está o index.html

 :nrepl
 {:port 8778} ;; Porta para conectar o VSCode/IntelliJ ao REPL do Front

 :builds
 {:app
  {:target     :browser
   :output-dir "resources/public/js" ;; Onde o JS compilado será salvo
   :asset-path "/js"                 ;; Caminho relativo para o navegador achar os arquivos

   :modules
   {:main {:init-fn clojure-finance-client.core/init}}

   :devtools
   {:after-load clojure-finance-client.core/init ;; Função executada após cada salvamento
    :preloads   [day8.re-frame-10x.preload]}}}} ;; Abre o painel de debug do re-frame