{:nrepl
 {:port 8778}

 :dev-http
 {3000 ["public"]}

 :source-paths ["src"]

 :deps true

 :builds
 {:clojure-finance
  {:target     :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules {:main {:init-fn clojure-finance-client.core/init}}

   :devtools
   {:after-load clojure-finance-client.core/init
    :preloads   [day8.re-frame-10x.preload]}}}}